# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and downloads
data/
*.h5
*.csv
*.edf

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Environment files
.env
.venv/
env/
venv/
ENV/

# OS files
.DS_Store